/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

.app {
    text-align:center;
    padding: 30px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin: 0 auto;                /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

.token-element .action_html {
   
   display: block;
   width: 90%;
}

.tab-img-icon {
    position: relative;
    top:3px;
    left:0px
    margin-right: 8px;
    display: inline-block;
}
.ui-btn-active .tab-img-icon,
.tab-img-icon.active-tab-img-icon {
    display: none;
}

.ui-btn-active .tab-img-icon.active-tab-img-icon {
    display: inline-block;
}

li.ui-tabs-active > a {
    background-color: rgb(51, 136, 204)!important;
    border-color: rgb(51, 136, 204) !important;
    color: rgb(255, 255, 255) !important;
    text-shadow: 0 1px 0 rgb(0, 85, 153) !important;
}

.msg {
  display: block;
  height:40px;
}


